.html5:hover{
  color: #ff4d00;
  transition: 0.2s;
}
.css3:hover{
  color: #0092ff;
  transition: 0.2s;
}
.sass:hover{
  color: #ff00ea;
  transition: 0.2s;
}
.js:hover{
  color: #ffcc00;
  transition: 0.2s;
}
.react:hover{
  color: #155183;
  transition: 0.2s;
}